.transactionHistory {
    padding: 50px 0;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  thead {
    background-color: rgb(191, 6, 216);
  }
  
  tbody:nth-child(even) {
    background-color: rgb(105, 22, 92);
  }
  tbody:nth-child(odd) {
    background-color: rgb(243, 144, 238);
  }
  td {
    font-size: 18px;
  }